* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: aliceblue;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 86vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: black;
    color: aliceblue;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: aliceblue;
    text-decoration: underline;
}

.drawingPad {
    border: 2px dotted black;
    width: 600px;
    height: 600px;
}