* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: aliceblue;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 86vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: black;
    color: aliceblue;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: aliceblue;
    text-decoration: underline;
}

.drawingPad {
    border: 2px dotted black;
    width: 450px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.defPixel {
    background-color: white;
    width: 50px;
    height: 50px;
    flex: 1 1 auto;
}

.defPixel:hover {
    opacity: 0.5!important;
    transition: 0.01s;
    background-color: grey;
    transition: 0.3s;

}